{% extends "template.html" %}
{% block conteudo %}
    <h1> {{titulo}} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>idAndamento</th>
                    <th>idAcervo</th>
                    <th>descricao</th>
                </tr>
        </thead>
        <tbody>
            {% for andamento in andamentos %}
                <tr>
                    <td>{{andamento.idAndamento}}</td>
                    <td>{{andamento.idAcervo}}</td>
                    <td>{{andamento.descricao}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}