{% extends "template.html" %}
{% block conteudo %}
    <h1> {{titulo}} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>idObra</th>
                    <th>idPessoa</th>
                    <th>idAcervo</th>
                </tr>
        </thead>
        <tbody>
            {% for compositor in compositores %}
                <tr>
                    <td>{{compositor.idObra}}</td>
                    <td>{{compositor.idPessoa}}</td>
                    <td>{{compositor.idAcervo}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}