{% extends "template.html" %}
{% block conteudo %}
    <h1> {{titulo}} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>idConjunto</th>
                    <th>idAcervo</th>
                    <th>Descrição</th>
                </tr>
        </thead>
        <tbody>
            {% for conjunto in conjuntos %}
                <tr>
                    <td>{{conjunto.idConjunto}}</td>
                    <td>{{conjunto.idAcervo}}</td>
                    <td>{{conjunto.descricao}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}