{% extends "template.html" %}
{% block conteudo %}
    <h1> {{ titulo }} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>Identificador</th>
                    <th>Acervo</th>
                    <th>Período</th>
                    <th>Tipo Código Internacional</th>
                    <th>Título</th>
                    <th>Data Inclusão</th>
                    <th>Título Alternativo</th>
                    <th>Notas</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
            {% for obra in obras %}
                <tr>
                    <td>{{obra.idObra}}</td>
                    <td>{{obra.idAcervo}}</td>
                    <td>{{obra.idPeriodo}}</td>
                    <td>{{obra.idTipoCodigoInternacional}}</td>
                    <td>{{obra.titulo}}</td>
                    <td>{{obra.dtInclusao}}</td>
                    <td>{{obra.tituloAlternativo}}</td>
                    <td>{{obra.notas}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}