{% extends "template.html" %}
{% block conteudo %}
    <h1> {{titulo}} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>idTipoVariacao</th>
                    <th>idAcervo</th>
                    <th>Descrição</th>
                </tr>
        </thead>
        <tbody>
            {% for tipo_variacao in tipos_variacoes %}
                <tr>
                    <td>{{tipo_variacao.idTipoVariacao}}</td>
                    <td>{{tipo_variacao.idAcervo}}</td>
                    <td>{{tipo_variacao.descricao}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}