{% extends "template.html" %}
{% block conteudo %}
    <h1> {{titulo}} </h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>idTonalidade</th>
                    <th>idAcervo</th>
                    <th>Descrição</th>
                </tr>
        </thead>
        <tbody>
            {% for tonalidade in tonalidades %}
                <tr>
                    <td>{{tonalidade.idTonalidade}}</td>
                    <td>{{tonalidade.idAcervo}}</td>
                    <td>{{tonalidade.descricao}}</td>
                </tr>

            {%endfor%}

        </tbody>
    </table>


{% endblock %}